body {
	background-image: url(https://img.freepik.com/free-photo/spring-cherry-blossom-sakura-iflowers-bunch-tree-blue-sky-walpaper_4740-959.jpg?size=626&ext=jpg);
	background-size: cover;
}
table {
	border: none;
	background-color: rgba(255, 255, 255, 0.20);
}
input[type=text]{
	border: none;
	border-bottom: 1px solid black;
	padding: 2px 2px 2px 2px
	background-color: rgba(255, 255, 255, 0);
	font-size: 499%;
}
input[type=reset]{
	border: none;
	background-color: rgba(59, 92, 99, 0);
	font-size: 499%;

}
input[type=button]{
	border: none;
	background-color: rgba(59, 92, 99, 0);
	font-size: 499%

}
